$modified-color: #f76a00;

.Currentroom {
  display: table;
  border: 1px solid #a7a7a7;
  padding: 4px;

  &__header {
    margin: 0;
    padding: 0 6px;
  }

  &__pin {
    width: 4em;
    &--modified {
      color: $modified-color;
    }
  }
}

.modified-indicator {
  color: $modified-color;
}